<form [formGroup]="reactform">
  
  <label>
    First Name:
    <input type="text" formControlName="firstname">
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="lastname">
  </label>

  <label>
    Contact:
    <input type="text" formControlName="contact">
  </label>

  <label>
    Gender:
    <input type="text" formControlName="Gender">
  </label>

  <label>
    Emp_ID:
    <input type="text" formControlName="EmpId">
  </label>

  <label>
    E-mail:
    <input type="email" formControlName="Email">
  </label>

  <label>
    Password:
    <input type="password" formControlName="password">
  </label>

  <label>
    Check Password:
    <input type="password" formControlName="checkpassword">
  </label>

  <button type="submit" (click)="save()" class="btn btn-primary" [disabled]="!reactform.valid">
    Submit
  </button>

</form>